@charset "UTF-8";

/*reset*/

body{
	background-color: #FFFFFF;
}


#work_banner{
	width: 100%;
	margin-top: 60px;
}

.work_banner_body{
	width: 100%
}

#work_banner_container{
	width: 672px;
	margin: auto;
}

#work_banner_text{
	float: right;
	padding-top: 120px; 
	margin-left: 55px
}


#body-container{
	width: 100%;
	margin: 50px auto 0px auto;
	font-size: 30px;
	text-align: left;
}

.intro-container-block{
	width: 1100px;
	margin: auto;
}

.body-container-block{
	width: 100%;
	margin: auto;
}

.body-container-block-dark{
	background-color: #2F3D69;
	width: 100%;
	margin: auto;
}

.body-container-block-light{
	background-color: #F2F4F9;
	width: 100%;
	margin: auto;
}

.body-container-block-center{
	width: 900px;
	margin: auto;
	padding-top: 100px;
	padding-bottom: 100px;
}

.heading1{
	font-size: 32px;
	font-family: DIN-Black;
}

.heading1-white{
	color: white;
	font-size: 32px;
	font-family: DIN-Black;
}

.heading1-light{
	color: #2F3D69;
	font-size: 32px;
	font-family: DIN-Black;
}

.heading2{
	font-size: 28px;
	margin-bottom: 10px;
}

/*.endpoint{
	margin-bottom: 40px;
}*/

.text-white{
	color: white;
}

.text-lightblue{
	color: #2F3D69;
}


.left{
	float: left;
	margin: 0 30px 0 0;
}

.right{
	float: right;
	margin: 0 0 30px 30px;
}

.medium{
	width: 400px;
	height: 300px;
}

.large{
	width: 620px;
	height: 360px;
}

.pic_container img{
	width: 100%;
}

.body_img{
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}

.body_img_three{
	height: 100%;
}

.body_text{
	margin-bottom: 20px;
}

.center_pic{
	/*margin: 100px auto 100px auto;*/
	display: block;
	width: 100%;
}
